body {
	text-align: center;
	font-family: 'B612', sans-serif;
	margin: 0 auto;
	padding: 0px;
	background: linear-gradient(bottom, rgba(1, 33, 105, 1), rgba(1,33,105,.5));
	background: -webkit-linear-gradient(bottom, rgba(1, 33, 105, 1), rgba(1,33,105,.5));
	background: -moz-linear-gradient(bottom,  rgba(1, 33, 105, 1), rgba(1,33,105,.3));
}
header{
	background:URL("https://images.unsplash.com/photo-1561736778-92e52a7769ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	background-size: cover;
	opacity: 75%;
}

p {
	font-size: 16px;
	text-align: justify;
	line-height: 24px;
	margin: 0 auto;
	max-width: 600px;
	padding: 15px 0 15px 0;
}

nav {
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 5px;
}
a {
	font-size: 24px;
	font-family: 'Permanent Marker', cursive;
	color:rgba(1, 33, 105, 1);
	padding: 10px;
}

p a {
	font-size: 24px;
	font-family: 'Permanent Marker', cursive;
	color:white;
	padding: 10px;
}

footer {
	padding: 20px 0 0 0;
}

small {
	font-size: 10px;
}
.main-content {
	background: white;
}

.profile {
	max-width:300px;
	border: 3px solid white;
	border-radius: 50%;
	margin: 20px 0 20px 0;
}

.title {
	font-size: 36px;
	font-family: 'Permanent Marker', cursive;
	color: #012169;
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 5px 0 5px 0;
}

.content{
	color: white;
}

.content-img{
	max-width: 600px;
	border-radius:20px;
}

.social-img{
	max-width: 35px;
	border-radius:10px;
}

.enlarge-social {
	max-width:50px;
}

.enlarge-img {
	max-width:800px;
	border: 5px solid rgba(1,30,70,1);
}